.d-inline {
	display: inline;
}
.d-inline-block {
	display: inline-block;
}
.d-block {
	display: block;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex;
	&.align-items-center {
		align-items: center;
	}
}
.d-inline-flex {
	display: inline-flex;
}
